@tailwind base;
@tailwind utilities;

#app {
   @apply h-full;
}

.text-reset {
   font-size: 16px;
   font-weight: 600;
}

.price-marker-shadow {
   box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.28) 0px 1px 5px;
}

.fade-in {
   animation: fadeIn ease-in 0.3s;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

/* This doesn't work for some reason out of the box */

.prose {
   font-weight: normal;
   @apply text-gray-600;
}

.prose p,
.prose ul {
   margin-bottom: 8px;
}

.prose ul > li {
   list-style: disc;
   margin-left: 32px;
   padding-left: 4px;
   margin-bottom: 4px;
}

.prose ol > li {
   list-style: decimal;
   margin-left: 32px;
   padding-left: 4px;
   margin-bottom: 4px;
}

.prose a {
   @apply text-red-600;
}

.prose blockquote {
   @apply pl-4 italic text-gray-600 border-l-2 border-gray-300;
}

.prose b,
.prose strong {
   @apply font-bold;
}

.prose h1 {
   font-size: 32px;
   font-weight: bold;
   margin-bottom: 1rem;
}

.prose h2 {
   font-size: 28px;
   font-weight: 600;
   margin: 1rem 0;
}

.prose h2 a {
   color: inherit;
}
