.cxb-shape {
   cursor: pointer;
   stroke-width: 1;
}

.cxe-shape-text {
   font-size: 14px;
   text-anchor: middle;
   dominant-baseline: middle;
   fill: currentColor;
   stroke: none;
}

.cxe-shape-shape {
}
