@forward "cx/src/maps";

@use "./variables" as *;
@use "cx/src/maps" as *;
@use "cx/src/util/scss/deep-merge" as *;

$cx-tab-state-style-map: cx-deep-map-merge(
  $cx-tab-state-style-map,
  (
    default: (
      font-weight: 600,
    ),
    selected: (
      font-weight: null,
    ),
    cursor: (
      font-weight: null,
    ),
    selected-cursor: (
      font-weight: null,
    ),
  )
);

$cx-link-state-style-map: (
  active: (
    font-weight: null,
  ),
);

$cx-std-field-state-style-map: cx-deep-map-merge(
  $cx-std-field-state-style-map,
  (
    default: (
      font-weight: inherit,
      border-radius: 8px,
      padding: 8px 10px,
      color: inherit,
    ),
    focus: (
      border-color: rgb(77, 144, 254),
      box-shadow: 0 0 0 1px rgba(77, 144, 254, 0.8),
    ),
    error: (
      border-color: #dc2626,
      box-shadow: 0 0 0 1px rgba(#dc2626, 0.8),
    ),
    error-focus: (
      border-color: #f59e0b,
      box-shadow: 0 0 0 1px rgba(#f59e0b, 0.8),
    ),
  )
);

$cx-textarea-state-style-map: cx-deep-map-merge(
  $cx-textarea-state-style-map,
  (
    default: (
      font-weight: inherit,
      border-radius: 8px,
      padding: 8px 10px,
      color: inherit,
    ),
    focus: (
      border-color: rgb(77, 144, 254),
      box-shadow: 0 0 0 1px rgba(77, 144, 254, 0.8),
    ),
    error: (
      border-color: #dc2626,
      box-shadow: 0 0 0 1px rgba(#dc2626, 0.8),
    ),
    error-focus: (
      border-color: #f59e0b,
      box-shadow: 0 0 0 1px rgba(#f59e0b, 0.8),
    ),
  )
);

$cx-button-state-style-map: cx-deep-map-merge(
  $cx-button-state-style-map,
  (
    default: (
      font-weight: inherit,
      border-radius: 6px,
      background-color: #f4f4f4,
    ),
  )
);

$cx-list-item: cx-deep-map-merge(
  $cx-list-item,
  (
    hover: (
      background-color: #f3f4f6,
    ),
    cursor: (
      background-color: #f3f4f6,
    ),
    selected: (
      background-color: rgb(219, 234, 254),
      color: rgb(37, 99, 235),
    ),
    selected-hover: (
      background-color: rgb(219, 234, 254),
      color: rgb(37, 99, 235),
    ),
    selected-cursor: (
      background-color: rgb(191, 219, 254),
      color: rgb(37, 99, 235),
    ),
    disabled: (
      opacity: 0.4,
    ),
  )
);

$cx-grid-pagination-state-style-map: $cx-list-item;

$cx-dropdown-styles: cx-deep-map-merge(
  $cx-dropdown-styles,
  (
    font-weight: 500,
    color: #374151,
  )
);
