---
import NavItem from './NavItem.astro';
---

<nav id="sidebar" class="hidden pt-3 overflow-auto bg-white xl:border-r xl:block">
  <div class="px-6 py-2 text-sm font-bold text-gray-700">Introduction</div>
  <NavItem text="About" href="/" icon="intro" />
  <NavItem text="Getting Started" href="/getting-started" icon="intro" />

  <div class="px-6 py-2 mt-2 text-sm font-bold text-gray-700">Components</div>
  <NavItem text="Diagram" href="/components/diagram" />
  <NavItem text="Cell" href="/components/cell" />
  <NavItem text="Shape" href="/components/shape" />
  <NavItem text="Flow" href="/components/flow" />
  <NavItem text="Rotate" href="/components/rotate" />
  <NavItem text="FourSides" href="/components/four-sides" />
  <NavItem text="ArrowHead" href="/components/arrow-head" />

  <div class="px-6 py-2 mt-2 text-sm font-bold text-gray-700">Lines</div>
  <NavItem text="StraightLine" href="/lines/straight-line" icon="line" />
  <NavItem text="TwoSegmentLine" href="/lines/two-segment-line" icon="line" />
  <NavItem text="ThreeSegmentLine" href="/lines/three-segment-line" icon="line" />

  <div class="px-6 py-2 mt-2 text-sm font-bold text-gray-700">Examples</div>
  <NavItem text="Network Diagram" href="/examples/network-diagram" icon="example" />
  <NavItem text="Neural Network" href="/examples/neural-network" icon="example" />
</nav>
