---
// Split component - two column responsive layout for documentation
// Left side: documentation content
// Right side: interactive demo (use slot="right")
---

<div class="xl:grid grid-cols-[640px_1fr] 2xl:grid-cols-[768px_1fr] relative">
  <div class="min-h-full bg-white">
    <slot />
  </div>
  <div class="relative xl:border-l ">
    <div class="xl:absolute xl:top-0 xl:right-0 xl:bottom-0 xl:left-0 xl:overflow-auto">
      <slot name="right" />
    </div>
  </div>
</div>
