.container {
   max-width: 1024px;
   margin: auto;
}

.cxb-link.cxm-topnav {
   border: 2px solid transparent;
   position: relative;

   &.cxs-active {
      border-bottom-color: currentColor;
      transition: border-bottom-color 0.5s linear;
   }
}

.cxb-link.cxm-tab {
   position: relative;

   &::after {
      position: absolute;
      left: 50%;
      margin-left: -15px;
      width: 0;
      height: 2px;
      bottom: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      box-sizing: border-box;
      content: ' ';
      transition: width 0.5s linear;
   }

   &.cxs-active {
      &::after {
         width: 30px;
         background: currentColor;
      }
   }
}
